@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: fixed;
  overscroll-behavior: none;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  touch-action: none;
  width: 100vw;
  height: 100vh;
}